<div class="container">
<form [formGroup]="golfForm" (ngSubmit)="onSubmit()">
  <label for="fname"><span class="label">First Name</span></label>
  <input id="fname" formControlName="fName" type="text" required="true" [attr.maxLength]="50" placeholder="First Name">

  <label for="score"><span class="label">Scores</span></label>
  <input id="score" formControlName="scores" type="text" required="true" [attr.maxLength]="100" placeholder="100, 102, 95 ...">

  <button type="submit" [disabled]="!golfForm.valid">Calculate Handicap</button>
</form>

<div class="results" *ngIf="handicapData">
  <div>
    Golfer: {{savedName}}
  </div>
  <div>
    Scores: {{savedScores}}
  </div>
  <div>
    Average: {{handicapData.average}}
  </div>
  <div>
    Handicap: {{handicapData.handicap}}
  </div>
</div>
</div>
