.container {
  width: 600px;
  clear: both;
  padding: 20px;
}
.container input {
  width: 100%;
  clear: both;
}
label {
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
button {
  margin-top: 20px;
}
.results {
  margin-top: 20px;
  background-color: rgb(213, 238, 247);
  padding: 10px;
}
.alert {
  color: red;
}
